<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/src/assets/favicon.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Multi Step Form</title>
{% block stylesheets %}
    <link rel="stylesheet" href="/src/screen.css">{% endblock stylesheets %}
</head>
<body>
<main>
    <ul id="nav">
        <li{{ stepNumber == 1 ? ' class="active"' }}>
            <a href="/index"><span>Your Info</span></a>
        </li>
        <li{{ stepNumber == 2 ? ' class="active"' }}>
            <a href="/plan"><span>Select Plan</span></a>
        </li>
        <li{{ stepNumber == 3 ? ' class="active"' }}>
            <a href="/addons"><span>Add-ons</span></a>
        </li>
        <li{{ stepNumber == 4 ? ' class="active"' }}>
            <a href="#"><span>Summary</span></a>
        </li>
    </ul>

{% block card %}{% endblock %}

    <footer>
        <a href="/{{ prevStep }}" id="prevStep">Go Back</a>
        <a href="/{{ nextStep }}" id="nextStep">Next Step</a>
    </footer>
</main>
</body>
</html>
